name: CI Pipeline

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize]
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
#  unit-tests:
#    runs-on: ubuntu-latest
#
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v4
#
#      - name: Set up JDK
#        uses: actions/setup-java@v4
#        with:
#          distribution: 'temurin'
#          java-version: '21'
#
#      - name: Set up Gradle
#        uses: gradle/actions/setup-gradle@v4
#
#      - name: Run Unit Tests
#        run: ./gradlew test
#
#      - name: Generate Allure Report for Unit Tests
#        run: ./gradlew allureReport
#
#      - name: Upload Unit Test Reports (Allure)
#        uses: actions/upload-artifact@v4
#        with:
#          name: allure-unit-test-report
#          path: build/reports/allure-report/allureReport

#  e2e-tests:
#    runs-on: ubuntu-latest
#
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v4
#
#      - name: Set up JDK
#        uses: actions/setup-java@v4
#        with:
#          distribution: 'temurin'
#          java-version: '21'
#
#      - name: Set up Gradle
#        uses: gradle/actions/setup-gradle@v4
#
#      - name: Run Docker Compose (Spin up services)
#        run: docker compose up -d
#
#      - name: Run E2E Tests
#        run: ./gradlew testE2E
#
#      - name: Generate Allure Report for Unit Tests
#        run: ./gradlew allureReport
#
#      - name: Upload Unit Test Reports (Allure)
#        uses: actions/upload-artifact@v4
#        with:
#          name: allure-e2e-test-report
#          path: build/reports/allure-report/allureReport

  publish-to-maven:
    runs-on: ubuntu-latest
#    needs:
#      - unit-tests
#      - e2e-tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: GPG checks
        run: |
          which gpg
          gpg --version
      - name: Decode GPG Key
        run: |
          mkdir -p ~/.gradle/
          echo "${{secrets.MAVEN_CENTRAL_GPG_KEY_BASE64}}" > ~/.gradle/secring.gpg.b64
          base64 -d ~/.gradle/secring.gpg.b64 > ~/.gradle/secring.gpg
          echo "${{secrets.MAVEN_CENTRAL_GPG_PASSPHRASE}}" | gpg --batch --yes --passphrase-fd 0 --import ~/.gradle/secring.gpg
          gpg --keyserver hkps://keys.openpgp.org --send-key BEFB6B63A980310BB92A65365E362818AF79A015

      - name: Build package
        run: ./gradlew build

      - name: Publish package
        run: |
          ./gradlew publish \
            "-Psigning.gnupg.keyId=BEFB6B63A980310BB92A65365E362818AF79A015" \
            "-Psigning.gnupg.passphrase=${{ secrets.MAVEN_CENTRAL_GPG_PASSPHRASE }}" \
            "-Psigning.secretKeyRingFile=${HOME}/.gradle/secring.gpg" \
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_CENTRAL_OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_CENTRAL_OSSRH_TOKEN }}
