name: CI Pipeline

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize]
  push:
    branches:
      - main
jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Set up Gradle
        uses: gradle/gradle-build-action@v3

      - name: Run Unit Tests
        run: ./gradlew test

      - name: Generate Allure Report for Unit Tests
        run: ./gradlew allureReport

      - name: Upload Unit Test Reports (Allure)
        uses: actions/upload-artifact@v3
        with:
          name: allure-unit-test-report
          path: build/reports/allure-report/allureReport

  e2e-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Set up Gradle
        uses: gradle/gradle-build-action@v3

      - name: Run Docker Compose (Spin up services)
        run: docker compose up -d

      - name: Run E2E Tests
        run: ./gradlew testNG

      - name: Generate Allure Report for Unit Tests
        run: ./gradlew allureReport

      - name: Upload Unit Test Reports (Allure)
        uses: actions/upload-artifact@v3
        with:
          name: allure-e2e-test-report
          path: build/reports/allure-report/allureReport